.header .wrapper
{
width:100%;
margin:auto;
}
.banner .wrapper
{
width:80%;
margin:auto;
}
.picture .wrapper
{
width:80%;
margin:auto;
}
.contacts .wrapper
{
width:80%;
margin:auto;
}
.footer .wrapper
{
width:80%;
margin:auto;
}
.header
{
	height:100px;
	background-color:salmon;
}
.header .header-fc
{
	display:flex;
	justify-content:space-around;
}
.header .header-fc .start
{
	background-color:lightgreen;
	width:20%;
	height:50px;
	margin-top:25px;
	text-align:center;
}
.header .header-fc .home
{
	background-color:lavender;
	width:10%;
	height:50px;
	margin-top:25px;
    text-align:center;
}
.header .header-fc .about
{
	background-color:lavender;
	width:10%;
	height:50px;
	margin-top:25px;
	text-align:center;
}
.header .header-fc .navi
{
	background-color:lavender;
	width:10%;
	height:50px;
	margin-top:25px;
	text-align:center;
}
.header .header-fc .service
{
	background-color:lavender;
	width:10%;
	height:50px;
	margin-top:25px;
	text-align:center;
}
.header .header-fc .sign
{
	background-color:lightgreen;
	width:20%;
	height:50px;
	margin-top:25px;
	text-align:center;	
}
.banner
{
	height:300px;
	background-color:cornflowerblue;
}
.banner .banner-fc
{
	display:flex;
	justify-content:center;
}
.banner .banner-fc .welcome
{
	text-align:center;
	background-color:gray;
	width:50%;
	height:200px;
	margin-top:50px;
}
.picture
 {
	 background-color:yellow;
	 height:1200px;
	 text-align:center;
 }
 .picture .picture-fc
 {
	 display:flex;
	 flex-wrap:wrap;
	 justify-content:space-between;
	 margin:auto;
 }
 .picture .picture-fc .box_a
 {
	background-color:crimson;
	height:300px;
	width:30%;
	margin-top:30px;
 }
 .picture .picture-fc .box_b
 {
	background-color:white;
	height:400px;
	width:30%;
	margin-top:30px;
 }
 .picture .picture-fc .box_c
 {
	background-color:orange;
	height:300px;
	width:30%;
	margin-top:30px;
 }
 .picture .picture-fc .box_d
 {
	background-color:pink;
	height:400px;
	width:30%;
 }
 .picture .picture-fc .box_e
 {
	background-color:purple;
	height:300px;
	width:30%;
	margin-top:30px;
 }
 .picture .picture-fc .box_f
 {
	background-color:violet;
	height:400px;
	width:30%;
 }
 .picture .picture-fc .box_g
 {
	background-color:teal;
	height:400px;
	width:30%;
 }
 .picture .picture-fc .box_h
 {
	background-color:navy;
	height:280px;
	width:30%;
	margin-top:30px;
 }
 .picture .picture-fc .box_i
 {
	background-color:lightgreen;
	height:300px;
	width:30%;
 }
 .picture .picture-fc .box_j
 {
	background-color:lightblue;
	height:280px;
	width:30%;
	margin-top:30px;
 }
.contacts
{
	height:300px;
	background-color:salmon;
}
.contacts .contacts-fc
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.contacts .contacts-fc .contact
{
	margin-top:50px;
	background-color:lightgreen;
	width:80%;
	height:100px;
	text-align:center;
}
.contacts .contacts-fc .new
{
	background-color:purple;
	width:30%;
	height:50px;
	margin-top:50px;
    text-align:center;
}
.contacts .contacts-fc .old
{
	background-color:purple;
	width:30%;
	height:50px;
	margin-top:50px;
	text-align:center;
}
.footer
{
	height:500px;
	background-color:lightblue;
}
.footer .footer-fc
{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.footer .footer-fc .copyright
{
	margin-top:80px;
	background-color:deeppink;
	width:15%;
	height:250px;
	text-align:center;
}
.footer .footer-fc .map
{
	background-color:deeppink;
	width:15%;
	height:250px;
	margin-top:80px;
    text-align:center;
}
.footer .footer-fc .phone
{
	background-color:deeppink;
	width:15%;
	height:250px;
	margin-top:80px;
	text-align:center;
}
.footer .footer-fc .email
{
	margin-top:80px;
	background-color:deeppink;
	width:15%;
	height:250px;
	text-align:center;
}
.footer .footer-fc .message
{
	background-color:deeppink;
	width:15%;
	height:250px;
	margin-top:80px;
    text-align:center;
}
.footer .footer-fc .boxa
{
	background-color:green;
	width:30%;
	height:50px;
	margin-top:100px;
	text-align:center;
}
.footer .footer-fc .boxb
{
	background-color:green;
	width:30%;
	height:50px;
	margin-top:100px;
	text-align:center;
}



























